.header {
    display: flex;
    flex-direction: row;
    height: 57px;
    align-items: center;

    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(211, 208, 208)
}

.left-section {
    display: flex;
    align-items: center;

}

.hamburger-menu {
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-color: rgb(192, 192, 192);
    border-radius: 3px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;

}

.search-icon {
    height: 25px;

}

.search-btn-cls,
.voice-btn-cls,
.upload-logo-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.search-btn-cls {
    height: 39px;
    width: 60px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -3px;
    margin-right: 10px;
    cursor: pointer;

}

.search-btn-cls .tooltip,
.voice-btn-cls .tooltip,
.upload-logo-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -30px;
    opacity: 0;
    pointer-events: none;
    font-family: Roboto, Arial;


}

.search-btn-cls:hover .tooltip,
.voice-btn-cls:hover .tooltip,
.upload-logo-container:hover .tooltip {
    opacity: 1;

}

.voice-icon {
    height: 24px;

}

.voice-btn-cls {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(192, 192, 192);
    cursor: pointer;
}

.right-section {
    width: 180px;
    display: flex;
    flex-direction: rows;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
}

.notification-current-cls {
    position: relative;
}

.notifiaction-number {
    position: absolute;
    background-color: rgb(214, 55, 55);
    color: white;
    top: 0px;
    right: -7px;
    font-size: 10px;
    font-family: Roboto, Arial;
    font-weight: 500;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 50%;
}

.upload-icon {
    height: 24px;
    cursor: pointer;
}

.apps-icon {
    height: 24px;
    cursor: pointer;
}

.notifi-icon {
    height: 24px;
    cursor: pointer;
}

.channel-icon {
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}