.sidebar {
    background-color: white;
    position: fixed;
    top: 57px;
    left: 0;
    width: 70px;
    bottom: 0;
}

.sidebar-link {
    background-color: white;
    height: 76px;
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
    font-family: Roboto, Arial;
    justify-content: center;
}

.sidebar-link:hover {
    background-color: rgb(238, 236, 236);
    cursor: pointer;
}

.sidebar-link img {
    height: 24px;
}