.thumbnail-pic {
    width: 100%;
    border-radius: 7px;
}

.video-info-grid {
    display: Grid;
    grid-template-columns: 50px 1fr;
}

/*
        .channel-div {
            background-color: rgb(160, 17, 17);
        }
            */

.profile-img {
    width: 40px;
    border-radius: 50px;
}

/*
        .video-info-div {
            background-color: gray;

        }
            */
.thumbnail-div {
    position: relative;
}

.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 3px;
    font-weight: 500;
}




.video-author,
.video-stats {
    color: rgb(96, 96, 96);

}

.video-link {
    text-decoration: none;
    color: black;
}

.video-title {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    margin: 0px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

.video-author {
    font-size: 12px;
    margin: 5px;
    margin-left: 0px;
    margin-top: 8px;
}

.video-stats {
    font-size: 12px;
    margin: 0px;

}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;
}

@media(max-width:750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:751px) and (max-width:999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}